:root {
	--full-pad: 8px;
	--half-pad: 4px;
	--dialog-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);

	--dark-blue-03: hsla(200, 100%, 20%, 0.03);
	--dark-blue-05: hsla(200, 100%, 20%, 0.05);
	--dark-blue-10: hsla(200, 100%, 20%, 0.1);
	--dark-blue-20: hsla(200, 100%, 20%, 0.2);
	--dark-blue-30: hsla(200, 100%, 20%, 0.3);
	--dark-blue-40: hsla(200, 100%, 20%, 0.4);
	--dark-blue-50: hsla(200, 100%, 20%, 0.5);
	--dark-blue-60: hsla(200, 100%, 20%, 0.6);
	--dark-blue-70: hsla(200, 100%, 20%, 0.7);
	--dark-blue-80: hsla(200, 100%, 20%, 0.8);
	--dark-blue-90: hsla(200, 100%, 20%, 0.9);
	--dark-blue: hsla(200, 100%, 20%, 1.0);

}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	user-select: none;
}

textarea, input {
	user-select: text;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 10px;
	max-height: 100%;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	color: var(--dark-blue);
}

#documentName {
	display: inline-block;
}

.searchWrapper {
	display: inline-grid;
	width: 300px;
	grid-template-columns: 24px 1fr 24px;
	margin: 0px 0px 0px var(--full-pad);
	position: relative;
	top: -4px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 4px;
}

.searchIcon {
	grid-column: 1;
	text-align: center;
	font-size: 1.1em;
	color: var(--dark-blue-50);
	padding: 0px 0px 1px 2px;
	font-weight: bold;
}

#search {
	grid-column: 2;
	padding: 4px;
	border: 0;
}

.searchClear {
	grid-column: 3;
	cursor: pointer;
	border-left:1px solid var(--dark-blue-05);
	color: var(--dark-blue-40);
	text-align: center;
}

.searchClear:hover {
	background-color: var(--dark-blue-40);
	color: white;
}

#appBar {
	grid-column: 1;
	background-color: var(--dark-blue-80);
	border-right: 1px solid  var(--dark-blue);
	color: white;
	text-align: center;
	box-shadow: 2px 0px 7px var(--dark-blue-50);
}

#wrapper {
	grid-column: 2;
	padding-right: 10px;
	overflow-y: scroll;
}

#wrapper h1 {
	margin: 10px;
}

.logo {
	background-color: var(--dark-blue);
	font-size: 24px;
	line-height: 0.9em;
	text-align: center;
	font-weight: bold;
	margin: 20px;
	padding: 2px 0px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: var(--dialog-box-shadow);
	border-radius: 0px 12px;
}

#appBar button {
	width: 80%;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 2px;
	margin: 4px 0px;
	padding: 4px 0px;
}

#appBar button:disabled {
	opacity: 0.2;
}

#appBar button:disabled:hover {
	cursor: default;
}

#appBar button:hover {
	cursor:pointer;
	color: white;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}

#appBar hr {
	margin: 10px 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
	height: 1px;
}

.nodeWrapper {
	background-color: var(--dark-blue-03);
	border-left: 1px solid var(--dark-blue-10);
	padding:0px 8px 1px 0px;
	margin: 4px 0px 4px var(--full-pad);
}

.nodeHeader {
	padding: 0px 4px 0px 0px;
}

.nodeContent {
	padding: 0px;
}

.title, .togglerTitle {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
	margin-right: var(--half-pad);
	color:var(--dark-blue-90);
	padding: 2px 8px 2px 2px;
	height: 1.6em;
}

.togglerTitle:hover {
	cursor: pointer;
	color: var(--dark-blue);
	background-color: var(--dark-blue-10);
}

.title {
	color:rgba(0, 0, 0, 0.8);
	cursor: default;
	padding: 4px 4px 0px 21px;
}

.commentNode {
	background-color: transparent;
	border-left: 1px solid transparent;
	padding:2px 8px 2px var(--full-pad);
	margin: 4px 0px 4px 0px;
}

.textContent {
	font-family: monospace;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	border: 0px;
	min-height: 1em;
	padding: 10px 12px 10px var(--full-pad);
}

.textContent:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}

.commentContent {
	font-style: italic;
	font-size: 0.8em;
	color: forestgreen;
	background-color: transparent;
}

.textNode {
	background-color: transparent;
}

.attributeContent,
.attributeContentActive {
	display: inline-block;
	padding: 2px 4px;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	font-size: 0.8em;
	margin-left: var(--half-pad);
	position: relative;
	top: -2px;
	cursor: default;
}

.attributeContentActive {
	border-radius: 4px 0px 0px 4px;
	background-color: white;
	box-shadow: var(--dialog-box-shadow);
	border: 1px solid var(--dark-blue);
}

.attributeContent:hover {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid white;
	cursor: pointer;
}

.attributeContent span,
.attributeContentActive span {
	color:rgba(0, 0, 0, 0.3);
	padding: 0px 4px;
	font-weight: bold;
}

.node h1 {
	font-weight: normal;
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-right: 12px;
	display: inline-block;
}

.dialog {
	position: absolute;
	top: 200px;
	left: 200px;
	min-width: 100px;
	min-height: 100px;
	background-color: white;
	border: 1px solid var(--dark-blue);
	border-radius: 4px;
	box-shadow: var(--dialog-box-shadow);
}

.dialog .content {
	padding: 10px;
}

.dialog .buttonfooter {
	padding: 0px 10px 10px 10px;
	background-color: var(--dark-blue-05);
	text-align: left;
}

.dialog button {
	display: inline-block;
	margin: 10px 5px 0px 0px;
	color: var(--dark-blue-80);
	background-color: var(--dark-blue-20);
	border: 1px solid var(--dark-blue-30);
	border-radius: 2px;
	padding: 4px 20px;
}

.dialog button:hover {
	cursor:pointer;
	color: var(--dark-blue);
	background-color: var(--dark-blue-10);
	border: 1px solid var(--dark-blue-50);
	border-radius: 4px;
}

.dialog label {
	padding: 0px 10px 0px 0px;
}

.dialog input {
	padding: 4px 0px 4px 4px;
}

.dialog textarea {
	width: 100%;
	height: 100%;
	padding: 10px 12px 10px 10px;
	background-color: white;
	font-family: monospace;
	border: 0;
	line-height: 1.4em;
}

#dropTarget {
	border: 1px dashed var(--dark-blue-10);
	border-radius: 10px;
	color: var(--dark-blue-70);
	margin: 20px 0px 0px 0px;
	padding: 30px 0px;
	text-align: center;
}